<form class="col s12" action="/add" method="POST">
  <h2>Создание задачи</h2>


  <div class="input-field ">
    <input type="text" class="white-text" name="title" placeholder="Введите заголовок задачи...">
  </div>
  <div class="input-field">
    <input type="text" class="white-text" name="descript" placeholder="Введите описание задачи...">
  </div>

  <button type="submit" class="btn">Создать задачу</button>
</form>
